.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: flex-start;
  align-items: center;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  box-shadow: 0px 4px 16px 0px var(--token-61BYYA8BhnUP);
  backdrop-filter: blur(3px);
  position: relative;
  min-width: 0;
  -webkit-backdrop-filter: blur(3px);
  border-radius: 1em 1em 0em 0em;
  padding: 8px;
  border-width: 2px;
  border-color: var(--token-PewV9a9lpp-u);
}
.text {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-PewV9a9lpp-u);
  max-width: 950px;
  font-size: 8pt;
  font-family: "JetBrains Mono";
  font-weight: 300;
  white-space: pre-wrap;
  text-transform: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text {
    padding-top: 0px;
  }
}
