.headerRoot {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  height: auto;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  box-shadow: 0px 4px 16px 0px var(--token-61BYYA8BhnUP);
  backdrop-filter: blur(5px);
  flex-basis: auto;
  max-width: 950px;
  width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  position: relative;
  min-width: 0;
  -webkit-backdrop-filter: blur(5px);
  padding: 9px;
  border: 2px solid var(--token-qduCRpuvIG4K);
}
@media (max-width: 1023px) {
  .headerRoot {
    max-width: 708px;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .headerRoot {
    justify-content: space-around;
    align-items: center;
    padding: 11px;
  }
}
.minecraftServer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__vkthQ {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  color: #a7ffaf;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.ai {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___33Zc1 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #add4ff;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.home {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__b9SpU {
  object-fit: cover;
  max-width: 100%;
  width: 53px;
  height: 51px;
  color: var(--token-qduCRpuvIG4K);
  flex-shrink: 0;
}
.arts {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__exM8I {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-PewV9a9lpp-u);
  margin-bottom: 0px;
  flex-shrink: 0;
}
.code {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__f7Y0 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-pEKmzAY_-tWH);
  margin-bottom: 0px;
  flex-shrink: 0;
}
