._switch {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: auto;
  min-height: 32px;
  position: relative;
  border-radius: 0.25em;
  padding: 0px;
  border: 1px solid var(--token-5DlP39HEpY3B);
}
.freeBox__ywp0S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 32px;
  min-height: 32px;
  box-shadow: none;
  background: var(--token-eQ05alPJQE_S);
  border-radius: 0.19em 0em 0em 0.19em;
  padding: 4px;
  border: 1px none var(--token-5DlP39HEpY3B);
}
.freeBoxoff__ywp0Sopsk1 {
  background: var(--token-7kbz7oMu8qNi);
}
.svg__b1Rnz {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-VeD5FArx7b1I);
  flex-shrink: 0;
}
.svgoff__b1RnZopsk1 {
  color: var(--token-j1Sb6E62Yoda);
}
.svgon__b1RnzYr3Rj {
  color: var(--token-j1Sb6E62Yoda);
}
._switch:hover .svg__b1Rnz {
  color: var(--token-7kbz7oMu8qNi);
}
._switchoff:hover .svgoff__b1RnZopsk1 {
  color: var(--token-j1Sb6E62Yoda);
}
.freeBox___5DiiC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 32px;
  min-height: 32px;
  background: var(--token-eQ05alPJQE_S);
  border-radius: 0em 0.19em 0.19em 0em;
  padding: 4px;
  border: 1px none var(--token-5DlP39HEpY3B);
}
.freeBoxon___5DiiCYr3Rj {
  background: var(--token-MtHgXjfg2GLb);
}
.svg__eIm5O {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-VeD5FArx7b1I);
  flex-shrink: 0;
}
.svgoff__eIm5Oopsk1 {
  color: var(--token-j1Sb6E62Yoda);
}
.svgon__eIm5OYr3Rj {
  color: var(--token-j1Sb6E62Yoda);
}
._switch:hover .svg__eIm5O {
  color: var(--token-MtHgXjfg2GLb);
}
._switchon:hover .svgon__eIm5OYr3Rj {
  color: var(--token-j1Sb6E62Yoda);
}
